@media(max-width:767px){
.custom-container {
    width: 100%;
}	
.navbar-expand-lg .navbar-nav {
    padding-left: 0;
}
.nav-right {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    float: left; margin-bottom:10px;
}
.nav-right li {
    display: grid;
}
#banner-area h6 {
    width: 100%;
font-size: 14px;
    line-height: 23px;
}
.banner-img {
    margin-bottom: 10px;
    z-index: 99;
    position: relative;
    width: 100%;
}
.bottom-banner-img{display:none;}
#banner-area h1 {
    margin-top: 20px;
    font-size: 35px;
}
#sec1 h1 {
    font-size: 30px;
}
#sec1 {
    margin: 20px 0;
}
#sec1 h1 span {
    line-height: normal;
}
.sec-inner-text .col-xs-offset-right-1 {
    margin-right: 0;
}
.list-group-item.active div {
    width: 76%;
}
.list-group-item {
    padding: .75rem 0;
}
.list-group-item div {
    width: 76%;
}
.scrollspy-example {
    height: 250px;
}
.sec2-inner h1 {
    font-size: 35px;
}
.sec2-inner h1 span {
    padding-left: 0;
}
.sec2-inner p {
    padding-right: 0;
}
.sec2-inner-img img {
    padding-bottom: 0;
    margin-top: 20px;
}
#sec2 {
    margin-bottom: 0;
}
#sec3 h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;
}
#sec4 h1{
    font-size: 35px;}
	
.sec4-inner p {
    margin-bottom: 0;
}	
.sec4-inner h6 { width:100%; float:left;
    margin: 10px 0;
}
.sec4-inner {
    margin-top: 20px;
}
#sec4 {
    margin: 30px 0;
}
.sec3-item-top:after {
    left: 40%;
}
.sec5-inner {
    width: 100%;
}
#sec5 h1 {
    font-size: 30px;
}
#sec5 {
    padding: 30px 0;
}
.subscribe {
    width: 100%;
}
#sec5 .subscribe-btn {
    padding: 0 15px;
}
#sec5 .form-control {
    padding-right: 123px;
}
.footer-menu ul li a {
    padding-right: 10px;
    font-size: 12px;
}
.footer-menu ul li a:after {
    padding-left: 10px;
}
.sec3-item-top:after{display:none;}
.login-left {
    padding: 15px 15px 25px 15px;
    height: auto;
}
.login-slider img{ width:100%;}
.login-slider {
    margin-top: 0;
}
.login-slider .carousel-inner .carousel-item h4 {
    margin: 15px 0 8px 0;
}
.login-slider .carousel-indicators {
    bottom: -15px;
}
.login-right {
    padding: 15px;
    height: auto;
}
.login-right .form-group p{ font-size:12px;}
.login-right .form-group a{ font-size:12px;}
.login-footer-menu ul li a {
    padding: 2px 12px;
    float: left;
}
.login-footer-menu {
    margin: 10px 0;
}
.login-right p{ padding:0;}
.loginwith h6 {
    font-size: 10px;
    padding: 0 12px;
}

/* profile resoponsive css start */
#profile-sec1 span {
    position: absolute;
    right: 5%;
    top: 11px;
}
    .profile-sec1-item {
    margin-bottom: 15px;
}
    #profile-sec2 .col-sm-3, .col-sm-6 {
    padding: 0 0px;
}
    .profile-sec2-middle-inne .nav-tabs .nav-link{    font-size: 11px;
    margin: 0;
    padding: 5px;}
    .profile-sec2-middle-inne .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{    font-size: 11px;
    margin: 0;
    padding: 5px;}
    .domainname .form-control {
    padding-left: 45%;
}
    .pl {
    padding-left: 51% !important;
}
    .left-item1 span {
    right: 81px;
}
#profile-sec2{
    padding-top: 120px;
}
.coverpic{
    height: 200px;
}
.userpic{
    left: 32%;
}
.Toastify__toast {
    width: 90%;
    margin: 0 auto;
}
.loader{
    left: 32%;
}
/* profile resoponsive css end */
.bs-example .collapse .navbar-nav a span{
    display: inline-block;
    margin-right: 10px;
}
.bs-example .collapse{
    margin-top: 10px;
    padding-bottom: 20px;
}
.bs-example .collapse .navbar-nav .dropdown button{
    width: 100%;
}
.profile-sec2-left{
    width: 90%;
    float: none;
    margin: 0 auto;
}
.ramidea a{ text-align: center;}
.extitle h2{ text-align: left;}
.image-slider{     width: 100% !important;}
.ravidp {
    height: auto !important;
    width: 100% !important;
}
.ravideomodal .modal-dialog{
    max-width: 93%;
}
.raspechmodal .modal-dialog {
    max-width: 90%;
    margin: 0 auto;
}
.raspeak h2{padding-top: 27px;}
.raspeak {
    width: 80%;
    margin: 0 auto;
}
.adtitle .form-control{
    width: 78%;
}
.profile-sec2-left{
    min-height: auto;
}
.raconstab{
    margin-top: 20px;
}
.raconstab .nav-link.active{
    font-size: 16px;
}

}
@media(min-width:768px) and (max-width:991px){
    .loader{
        left: 42%;
    }
    .userpf a{
        margin-bottom: 5px;
        display: inline-block;
    }
    .userpic{
        left: 32%;
    }
    .coverpic{
        height: 200px;
    }
.custom-container {
    width: 100%;
}
.navbar-expand-lg .navbar-nav {
    padding-left: 0;
    margin-top: 14px;
}
.nav-right {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    float: left; margin-bottom:10px;
}
.nav-right li {
    width:100%;
    float:left;
    margin-bottom: 10px;
}
#banner-area h6 {
    color: #454545;
    width: 100%;
}
.banner-img {
    margin-bottom: -91px;
    z-index: 99;
    position: relative;
    width: 100%;
}
.bottom-banner-img {
    margin-bottom: -38px;
    width: 100%;
}
.list-group-item div {
    width: 77%;
}
.list-group-item.active div{width: 77%;}
.sec2-inner p {
    padding-right: 0;
}
.sec2-inner {
    padding-top: 0;
}
.sec3-item-top:after{display:none;}
.sec4-inner p {
    margin-bottom: 0;
}
.sec4-inner h6 {
    width: 100%;
    float: left;
}
.sec5-inner {
    width: 100%;
    margin: 0 auto;
}
#sec5{ padding:30px 0;}
.login-left{padding:20px;height: 100vh;}
.login-slider img{ width:100%;}
.login-right{padding:20px;height: 600px;}
.login-right p{ padding:0;}
.join-now {
    margin-top: 20px;
    padding: 20px 0 0 0;
}
/* profile resoponsive css start */

#profile-sec1 span {
    position: absolute;
    right: 2%;
    top: 14px;
}
    .left-item1 span {
    right: 22px;
}
    .left-item2 ul li a img {
    vertical-align: middle;
    height: 14px;
}
    .left-item2 ul li a {
    font-size: 11px;
}
    .left-item2 ul li a span {
    width: 20%;
}
 .domainname .form-control {
    padding-left: 34%;
}
    .pl {
    padding-left: 41% !important;
}
    .sec2-right-item span {
    width: 30px;
    height: 30px;
    line-height: 31px;
    right: 7px;
    font-size: 12px;
}
    .profimgarea {
    float: left;
    width: 100%;
}
    .profimgarea span {
    top: 120px;
    left: 62px;
}
    .proftextarea {
    float: left; margin-top: 5px;
    width: 80%;
}
    .profrsarea{ margin-top: 5px;}
/* profile resoponsive css end */

}
@media(min-width:991px) and (max-width:1130px){
	.navbar-expand-lg .navbar-nav {
    padding-left: 0;
}
.navbar-light .navbar-nav .nav-link {
    padding: 11px 14px;
}
.sec5-inner {
    width: 70%;
    margin: 0 auto;
}
}
@media(min-width:992px) and (max-width:1400px){
    #profile-sec1 span {
    position: absolute;
    right: 15px;
    top: 12px;
}
}





















